{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Product Dashboard</h1>
    <a href="{{ url_for('add_product') }}" class="btn btn-primary">Add Product</a>
    <a href="{{ url_for('view_sales') }}" class="btn btn-primary">View Sales</a>
    <div class="col mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Weight (g)</th>
                    <th>Dimensions (cm)</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>
                        <img src="data:image/jpeg;base64,{{ product.image_link }}" alt="{{ product.name }}" class="product-image" style="width: 100px; height: auto;">
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.weight }}</td>
                    <td>{{ product.length }} x {{ product.height }} x {{ product.width }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a href="{{ url_for('edit_product', product_id=product._id) }}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

