{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Your Orders</h2>
    </div>
    
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Payment Value</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td class="align-middle">{{ order.id }}</td>
                            <td class="align-middle">{{ order.purchased_at }}</td>
                            <td class="align-middle">{{ order.order_status }}</td>
                            <td class="align-middle">${{ order.payment_value }}</td>
                            <td>
                                {% if order_has_review(order.id) %}
                                    <button href="{{ url_for('view_order_review', order_id=order.id) }}" class="btn btn-primary">View Review</button>
                                {% else %}
                                    <button href="{{ url_for('write_order_review', order_id=order.id) }}" class="btn btn-success">Write Review</button>
                                {% endif %}
                                    <button href="{{ url_for('view_order_detail', order_id=order.id) }}" class="btn btn-secondary">View Details</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <a utton href="{{ url_for('shop') }}" class="btn btn-primary">Return to Shop</a>
        </div>
    </div>
</div>
{% endblock %}

