<!-- order_detail.html -->

{% extends 'base.html' %}

{% block content %}
<div class="order-detail-container">
    <h1>Order Detail</h1>
    <h3>Order ID: {{ order.id }}</h3>
    <h3>Purchased At: {{ order.purchased_at }}</h3>
    <h3>Status: {{ order.order_status }}</h3>
    <h3>Total Amount: {{ order.payment_value }}</h3> 

    <h2>Order Items</h2>
    <table class="order-items-table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order_items %}
            <tr>
                <td>{{ item.product_name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="return-button">
        <a href="{{ url_for('view_orders') }}" class="button">Return to List of Orders</a>
    </div>
</div>
{% endblock %}

