{% extends "base.html" %}
{% block title %}Product Reviews{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>Product Reviews</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Review Count</th>
                <th scope="col">Average Score</th>
            </tr>
        </thead>
        <tbody>
            {% for review in product_reviews %}
            <tr>
                <td class="align-middle">{{ review._id.product_id }}</td>
                <td class="align-middle">{{ review._id.product_name }}</td>
                <td class="align-middle">{{ review.review_count }}</td>
                <td class="align-middle">{{ review.average_score | round(2) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
