<!-- product_sales.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <a href="{{ url_for('view_sales') }}" class="btn btn-primary">Return to Sales Data</a>
    <h1 class="mt-5">Viewing Sales Data for ProductID: {{ product_sales[0].product_id }}</h1>
    {% if has_sales %}
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Purchased At</th>
                <th>Customer Username</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in product_sales %}
            <tr>
                <td>{{ sale.order_id }}</td>
                <td>{{ sale.purchased_at }}</td>
                <td>{{ sale.customer_username }}</td>
                <td>
                    {% if sale.has_review %}
                    <a href="{{ url_for('view_order_review_seller', order_id=sale.order_id) }}" class="btn btn-secondary">View Review</a>
                    {% else %}
                    No Review Available
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-muted">No orders for this product.</p>
    {% endif %}
</div>
{% endblock %}
