{% extends 'base.html' %}

{% block title %}Sales Report{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Sales Report</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Month</th>
                <th scope="col">Total Quantity Sold</th>
                <th scope="col">Total Revenue</th>
            </tr>
        </thead>
        <tbody>
            {% for record in sales_report %}
                <tr>
                    <td>{{ record.product_id }}</td>
                    <td>{{ record.product_name }}</td>
                    <td>{{ record.sale_month }}</td>
                    <td>{{ record.total_quantity_sold }}</td>
                    <td>${{ record.total_revenue }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
