{% extends "base.html" %}

{% block title %}Shop - Online Shop{% endblock %}

{% block content %}
<div class="shop-container">
    <h1 class="shop-title">Shop</h1>
    <h2 class="shop-subtitle">Products</h2>
    <form method="POST" style="text-align: center;">
        <input type="text" name="search" placeholder="Search products" value="{{ request.form.search }}">
        <select name="category">
            <option value="">All Categories</option>
            {% for category in categories %}
            <option value="{{ category.id }}" {% if request.form.category == category.id %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <input type="number" name="price_min" placeholder="Min Price" value="{{ request.form.price_min }}">
        <input type="number" name="price_max" placeholder="Max Price" value="{{ request.form.price_max }}">
        <input type="submit" value="Search">
    </form>
    <ul class="product-list">
        {% for product in products %}
        <div class="product-item">
            <a href="{{ url_for('product', product_id=product.id) }}">
                <div class="product-image-container">
                    <img src="data:image/jpeg;base64,{{ product.image_link }}" alt="{{ product.name }}" class="product-image">
                </div>
                <div class="product-details">
                    <span class="product-name">{{ product.name }}</span>
                    <span class="product-price">${{ product.price }}</span>
                </div>
            </a>
            <span class="product-seller">Seller: {{ product.username }}</span>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
