<!-- view_sales.html -->

{% extends 'base.html' %}

{% block content %}
<div class="sales-data-container">
    <h1>Sales Data</h1>
    <h2>Number of Sales Per Product</h2>

    <table class="sales-data-table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Number of Sales</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales_data %}
            <tr>
                <td>
                    <img src="data:image/jpeg;base64,{{ sale.image_link }}" alt="{{ sale.product_name }}" class="product-image" style="width: 100px; height: auto;">
                </td>
                <td>{{ sale.product_name }}</td>
                <td>{{ sale.sales_count }}</td>
                <td><a href="{{ url_for('view_product_sales', product_id=sale.product_id) }}" class="button">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="return-button">
        <a href="{{ url_for('dashboard') }}" class="button">Return to Dashboard</a>
    </div>
</div>
{% endblock %}
