<!-- view_sales.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Return to Dashboard</a>
    <h1 class="mt-5">Sales Data</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Number of Sales</th>
                <th>Total Revenue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales_data %}
            <tr>
                <td>
                    <img src="data:image/jpeg;base64,{{ sale.image_link }}" alt="{{ sale.name }}" class="product-image" style="width: 100px; height: auto;">
                </td>
                <td>{{ sale.name }}</td>
                <td>{{ sale.sales_count }}</td>
                <td>${{ sale.total_revenue }}</td>
                <td><a href="{{ url_for('view_product_sales', product_id=sale._id) }}" class="btn btn-primary">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
